.technology-grid-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}

.technology-card {
  background: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 12px;
  min-height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  gap: 10px;
  padding: 12px;

  transition: all 0.3s ease;
  cursor: pointer;

  box-shadow:
    -10px 10px 25px rgba(0, 0, 0, 0.12),
    -10px 4px 10px rgba(0, 0, 0, 0.08);
}

.technology-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.technology-card img {
  width: 34px;
  height: 34px;
  object-fit: contain;
  flex-shrink: 0;
}

.technology-card span {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  font-family: "Outfit", sans-serif;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
}

.technology-title {
  font-size: 50px !important;
  font-weight: 700;
  background: linear-gradient(40deg, #f9ae00, #3d2f0c, #d49500);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 4s ease-in-out infinite;
  font-family: "Outfit", sans-serif;
  line-height: 70px;

}

.technology-subtitle {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  font-family: "Outfit", sans-serif;
  line-height: 40px;
}

.technology-subtitle .divider {
  background: linear-gradient(40deg, #f9ae00, #3d2f0c, #d49500);
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientFlow 4s ease-in-out infinite;
  display: inline-block;
  margin: 0 5px;
}

/* Tablet */
@media (max-width: 1199px) {
  .technology-card {
    min-height: 80px;
    gap: 8px;
  }

  .technology-card img {
    width: 30px;
    height: 30px;
  }

  .technology-card span {
    font-size: 14px;
  }
}

/* Mobile */
@media (max-width: 767px) {

  .technology-title {
    font-size: 32px !important;
  }

  .technology-card {
    min-height: 70px;
    gap: 8px;
    padding: 10px;
  }

  .technology-card img {
    width: 26px;
    height: 26px;
  }

  .technology-card span {
    font-size: 13px;
  }
}