.watermark-section {
  position: relative;
  height: 500px;
  overflow: visible;
 background-image: url("../../../assets/meeting.webp");
  background-size: cover;
  background-position: center;
   z-index: -4;
 margin-bottom:-380px;
}

.watermark-overlay {
  position: absolute;
  inset: 0;
background: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0.45) 0%,
  rgba(0, 0, 0, 0.60) 50%,
  rgba(0, 0, 0, 0.85) 100%
);

backdrop-filter: blur(1px);
-webkit-backdrop-filter: blur(1px);
  z-index: 1;
}

.watermark-text {
  position: absolute;
  text-align: center;
  font-family: "Outfit", sans-serif;
  left: 50%;
  top: 30%;
  z-index: 2;
  margin: 0;
  font-size: 80px;
  font-weight: 800;
  white-space: nowrap;
  background: linear-gradient(
  to bottom,
  #f7d089 0%,
  #e5b95d 20%,
  #c78a2b 45%,
  rgba(199, 138, 43, 0.5) 75%,
  rgba(199, 138, 43, 0) 100%
);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
  transform: translateX(-50%) scale(1.05);
  pointer-events: none;
  
}
@media (max-width: 1023px) {
   .watermark-text {
    font-size: clamp(20px, 5vw, 40px); 
    top:clamp(36%, 30vw, 38%);
  }
}


@media (min-width: 1024px) and (max-width:1279px) {
  .watermark-text {
    font-size: 55px; 
    top:36%;
  }
}


